
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登陆页面</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/img/timg.ico}"/>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/reset.css}">
    <link rel="stylesheet" th:href="@{/assets/css/supersized.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
</head>
<body>
<div class="page-container">
    <h1>LOGIN</h1>
    <form>
        <span style="color:red;font-weight: bolder" id="errorHit"></span>
        <input type="text" name="username" id="username" class="username" placeholder="Username">
        <input type="password" name="password" id="password" class="password" placeholder="Password">
        <button type="button" id="loginBtn">登录</button>
        <button style="background:#009f95;border: 1px solid #009f95" type="button" id="registerBtn">注册</button>
    </form>

</div>
<!-- Javascript -->
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>

<script th:src="@{/assets/js/supersized.3.2.7.min.js}"></script>
<script th:src="@{/assets/js/supersized-init.js}"></script>
<script th:src="@{/assets/js/medicine.js}"></script>

</body>
</html>
